@page "/"

<h1>Hummer</h1>

<BECanvas Width="@WIDTH" Height="@HEIGHT" @ref="canvasReference"></BECanvas>

@code {
    private const int WIDTH = 1000;
    private const int HEIGHT = 400;
    private const int LANE_COUNT = 4;
    private const int STROKE_WIDTH = 10;

    private BECanvasComponent? canvasReference;
    private Canvas2DContext? context;

    private List<int> GetLaneLineHeights()
    {
        var laneLineHeights = new List<int>(LANE_COUNT + 1);
        float divisions = LANE_COUNT * 2;
        for (int i = 0; i <= divisions; i += 2)
        {
            var heightPercentage = HEIGHT * (i / divisions);
            var offset = STROKE_WIDTH / 2;
            if (i == 0)
            {
                laneLineHeights.Add(offset);
            }
            else
            {
                laneLineHeights.Add((int) heightPercentage - offset);
            }
        }
        return laneLineHeights;
    }

    // Passing the context as a parameter to ensure it is non-nullable
    private List<ILane> CreateLanes(Canvas2DContext context)
    {
        var lanes = new List<ILane>(LANE_COUNT);
        float divisions = LANE_COUNT * 2;
        for (int i = 1; i <= divisions; i += 2)
        {
            var heightPercentage = HEIGHT * (i / divisions);
            if ((i / divisions) >= 0.5f)
            {
                lanes.Add(new Lane(context, Direction.Left, new Point{ X = WIDTH, Y = (int) heightPercentage }, WIDTH));
            }
            else
            {
                lanes.Add(new Lane(context, Direction.Right, new Point{ X = 0, Y = (int) heightPercentage }, WIDTH));
            }
        }
        return lanes;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this.context = await this.canvasReference.CreateCanvas2DAsync();
        await this.context.SetLineWidthAsync(STROKE_WIDTH);

        foreach (var currentHeight in this.GetLaneLineHeights())
        {
            await this.context.BeginPathAsync();
            await this.context.MoveToAsync(0, currentHeight);
            await this.context.LineToAsync(WIDTH, currentHeight);
            await this.context.StrokeAsync();
        }

        var lanes = this.CreateLanes(context!);
        var vehicleTypes = new List<Vehicle>() {
            new Vehicle { Colour = "silver", Length = 20, SpawnRate = 0.2261312530508752d, Width = 20, },
            new Vehicle { Colour = "white", Length = 20, SpawnRate = 0.20309379786718001d, Width = 20, },
            new Vehicle { Colour = "blue", Length = 20, SpawnRate = 0.12751147282100564d, Width = 20, },
            new Vehicle { Colour = "grey", Length = 20, SpawnRate = 0.10389884636748835d, Width = 20, },
            new Vehicle { Colour = "black", Length = 20, SpawnRate = 0.10332750064651776d, Width = 20, },
            new Vehicle { Colour = "red", Length = 20, SpawnRate = 0.10327815106633349d, Width = 20, },
            new Vehicle { Colour = "green", Length = 20, SpawnRate = 0.0577977309904652d, Width = 20, },
            new Vehicle { Colour = "gold", Length = 20, SpawnRate = 0.019150314995692433d, Width = 20, },
            new Vehicle { Colour = "brown", Length = 20, SpawnRate = 0.016805827382054505d, Width = 20, },
            new Vehicle { Colour = "yellow", Length = 20, SpawnRate = 0.014376795138798564d, Width = 20, },
            new Vehicle { Colour = "orange", Length = 20, SpawnRate = 0.011366088192673002d, Width = 20, },
            new Vehicle { Colour = "purple", Length = 20, SpawnRate = 0.006265675186418996d, Width = 20, },
            new Vehicle { Colour = "cream", Length = 20, SpawnRate = 0.005569234018004563d, Width = 20, },
            new Vehicle { Colour = "pink", Length = 20, SpawnRate = 0.0014273122764923085d, Width = 20, },
        };

        ISimulation simulation = new Traffic(lanes, vehicleTypes);
        await simulation.StartClock();
    }
}
