@page "/"

@inject IJSRuntime JsRuntime

@if (appHasStarted)
{
    <HummerPage CanvasWidth="@width" CanvasHeight="400" />
}
else 
{
    <h1>Welcome</h1>
    <p>This application plays sounds. Make sure your volume is not muted then click @buttonName.</p>
    <button @onclick="StartApp">@buttonName</button>
}

@code {
    private const string buttonName = "proceed";
    private bool appHasStarted = false;
    private int width;

    private void StartApp()
    {
        this.appHasStarted = true;
    }

    protected override async Task OnInitializedAsync()
    {
        this.width = await JsRuntime.InvokeAsync<int>("getWidth");
    }
}

